CompileFlags:
  Add:
    - -std=c++2a
    - -isystem
    - /home/pierre/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/14.2.0
    - -isystem
    - /home/pierre/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/14.2.0/riscv32-esp-elf
    - -isystem
    - /home/pierre/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include/c++/14.2.0/backward
    - -isystem
    - /home/pierre/.platformio/packages/toolchain-riscv32-esp/lib/gcc/riscv32-esp-elf/14.2.0/include
    - -isystem
    - /home/pierre/.platformio/packages/toolchain-riscv32-esp/lib/gcc/riscv32-esp-elf/14.2.0/include-fixed
    - -isystem
    - /home/pierre/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include
  Remove:
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -mlongcalls
    - -mtext-section-literals
    - -fno-shrink-wrap
    - -Wno-frame-address
    - -fno-jump-tables
    - -freorder-blocks
  Compiler: /home/pierre/.platformio/packages/toolchain-riscv32-esp/bin/riscv32-esp-elf-g++
